.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  gap:5px
}

body {
  background-color: #EEE6D8;
}

.title {
  margin-bottom: 40px;
  background-color: #DAAB3A;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.element {
  width: 200px;
  background-color: #B67332;
  color: #EEE6D8;
  border: solid 1px #93441A;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.elementLT {
  width: 200px;
  background-color: #B67332;
  color: #EEE6D8;
  border: solid 1px #93441A;
  margin-bottom: 5px;
  padding: 5px;
  text-decoration: line-through;
  cursor: pointer;

}
